Terraform/terraform.tfvars
Terraform/terraform.exe
Terraform/LICENSE.txt
Terraform/.terraform/
Terraform/.terraform.lock.hcl
Terraform/d
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/authorized_key.json

